/* Login Page Styles */

/* Login Page Container */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner */
.login-banner {
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: clamp(3rem, 5vw, 5rem);
    text-decoration: ;
    font-weight: bold;
}

/* Login Form */
.login-container {
    background: white;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-top: 100px;
}

.login-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.login-input label {
    font-weight: bold;
    margin-bottom: 5px;
}

.login-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #BC4749;
}

/* Responsiveness */

/* Mobile View */

@media (max-width: 768px) {
    .login-container {
        width: 90%;
    }
}
