/* MEAL DETAIL PAGE STYLING */

/* Styling for the meal detail page */
.meal-detail-page {
  padding: 50px;
  max-width: 1200px;  
  margin: 0 auto;  
}

.meal-detail-page h2 {
  font-size: clamp(3rem, 5vw, 4rem);
  margin-bottom: 40px;
  text-align: center;
}

.meal-detail-page .meal-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.meal-detail-page label {
  font-size: 18px;
  font-weight: bold;
}

.meal-detail-page p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 30px;
}

.ingredients {
  font-size: 18px;
  margin-bottom: 60px;
}

.ingredients label {
  font-size: clamp(2rem, 5vw, 3rem);
}

.meal-detail-page .ingredients ul {
  margin-top: 20px;
  padding-left: 50px;
  list-style-type: disc;
}

.meal-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.recipe label{
  font-size: clamp(2rem, 5vw, 3rem);
}

/* Styling for the remove meal button */

.remove-mealdetails-btn {
  background-color: #BC4749;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.confirm-popup {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  text-align: center;
}

.confirm-popup p {
  color: white;
}

.confirm-remove-btn {
  background-color: #BC4749;
  color: white;
  padding: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  background-color: gray;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
